/cache
/inc/config.php
\.htaccess
/build-tools/ckeditor/ckbuilder.jar
/var
/.idea

# composer stuff
/vendor
/composer.phar
/doxygen
/coverage

# bifrost
public/media
public/themes/bifrost
public/themes/responsive

